# Emacs
*~
\#*\#

Makefile_*

/upmendex*.zip

/doc/samples/**/*.ilg
/doc/samples/*.ind
/doc/samples/alphabet/*.ind
/doc/samples/option/*.ind
/doc/samples/latex/*.aux
/doc/samples/latex/*.log

/doc/present/**/*.aux
/doc/present/**/*.log
/doc/present/**/*.ilg
/doc/present/**/*.idx
/doc/present/**/*.ind
/doc/present/**/*.dvi
/doc/present/**/*.xdv
/doc/present/**/*.nav
/doc/present/**/*.vrb
/doc/present/**/*.snm
/doc/present/**/*.out
/doc/present/**/*.toc
/doc/present/**/*.ttf
/doc/present/**/*.otf

autom4te.cache/
Work*/

